<h1 class="title">{{site.about_me_title}}</h1>
<p class="description" data-aos="fade-down">
<em> What if you could have a conversation with your future self at the university you’ll end up at?
</em><br>
 You’d know exactly what, how, where, and why you’re studying what (future) you is studying. Only then can you truly understand where you want to be. 

<br>
Fortunately, the next best thing after your future self is here, at your fingertips:
 Someone who was you in the (not so distant) past: a student, not a counselor.
That’s why here at Entropy Education, we believe in connecting our clients with our network of top students, carefully curated from a diverse range of world-class universities. Through exploration in the form of face to face meetings with students in our network, you will discover possibilities and obtain a great deal of information. 
<br>
Dreams don’t work unless we do, and with specific critical feedback, drafting, and brainstorming, we work overtime to ensure that when our client is looked at holistically -- whether it be by an admission counselor, teacher, or even a job interviewer three years down the line -- they see that DREAM.
<br>
	DISCOVER. DESIGN. DREAM. DETERMINE.
</p>
