<h1 class="title">Our Mission</h1>
<p class="description" data-aos="fade-down">
<em>What if you could have a conversation with yourself in a few years? </em>
<br><br>
The <b>entropy</b> -- the disorder or <em>uncertainty</em>, of your college admissions journey would be eliminated.
<br>You’d know exactly what, how, where, and why you’re studying what (future) you is studying.
<br>You could truly understand where <b>you</b> want to be.
<br><br>
Fortunately, the next best thing after your future self is here, at your fingertips:
<br>Someone who was you in the (not so distant) past: not just a counselor, but a<em>student</em>
<br>We have found that many students will sum up the college admission process as
<br><br>
            <b>Entirely</b>&nbsp<em>CONFUSING</em>
<br>and<br>
<b>Unnecessarily</b>&nbsp<em>COMPETITIVE</em>
<br><br>
By providing our clients with the right information,
<br> and guiding them with our proven frameworks, we can eliminate both
<br><br>
<s><em>CONFUSION</em></s>
<br>and<br>
<s><em>COMPETITION</em></s>
<br>
<br>
</p>
