<h1 class="title">Meet the Team<h1>
<br>
<img src="/assets/img/mo.png" alt="Mo">
<p class = "subtitle">Mohamed Abid</p>
<p> My name is Mohamed Abid and I’m currently studying Computer Science in the University of Waterloo’s Honours Math Co-op program. I spent my childhood in Ottawa, Canada, before moving to Dubai, where I graduated from the American School of Dubai in 2020. I’m a passionate creative writer and a lover of literature; I spent much of my time in Dubai writing, acting, and directing theatre as well as playing basketball and baseball. 
During my personal experience applying to the US, Canada, and UK for Computer Science, I interviewed at the University of Cambridge and Imperial College London as well as received an offer from Imperial College London, Warwick, Leeds, and UCL. 
In my applications to Canada, I was accepted to study at the University of British Columbia, University of Toronto, and McGill with significant scholarships. In the U.S, I was offered a paid research award and merit scholarship to study Computer Science at USC.  
<br> During my applications to these three regions, I came to appreciate the information I scoured daily from reddit, online resources, and the occasional forum posts on College Confidential that I could find. But as the world transitions into a post COVID era, these are no match for the almost obvious alternative - face to face communication with a diverse network of students -- after all, these days, what’s one more Zoom meeting? 
Our dream for this firm is a stark contrast to the inflexible and pricey programs of many private education and counselling firms. </p>
<img src="/assets/img/abdullah.png" alt="Abdullah">
<p class = "subtitle">Abdullah Khurram</p>
<p> My name is Abdullah Khurram, and I’m a freshman at Stanford University, majoring in Math and Philosophy with a minor in Creative Writing. I am interested in STEM, poetry, history, and philosophy. I love to read and write poetry and have considerable experience working in Physics and Biology labs. I hope Entropy can be a source of growth for both our students and mentors. I went through this cycle in 2019 and was able to secure significant financial aid from top institutions such as Yale, Stanford ($55k), and Cornell. </p>
<img src="/assets/img/senan.png" alt="Senan">
<p class = "subtitle">Senan Khawaja</p>
<p> My name is Senan Khawaja, I am a freshman at Stanford University studying Economics and International Relations. I’ve lived all around the world including the Middle East, Europe, Asia and now North America. I spent much of my highschool career playing sports (rowing and rugby), debating (to varying levels of success), and engaging in community building NGO’s (this one I’m proud of). I received offers from the London School of Economics, the University of Toronto Rotman School of Business and I interviewed at Oxford for History and Politics. I am passionate about creating a good faith community at Entropy where we reinforce one another’s strengths and bring out the best in our peers. </p>
<br>
<h1 class="title">Our Services<h1>
<div class="timeline-wrapper">
  <ul class="timeline">
    {% for event in site.data.timeline %}
      {% if event.timeline-side == 'left' %}
        <li>
          <div class="direction-l">
            <div class="flag-wrapper">
              <span class="hexagon"></span>
              <span class="flag neumorphism-button" data-aos="zoom-in-right">
                <a href="{{event.title-url}}">
                  <span>{{event.title}}</span>
                </a>
              </span>
              <span class="time-wrapper" data-aos="zoom-in-right">
                <span class="time neumorphism-card">{{event.date}}</span>
              </span>
            </div>
            <div class="desc neumorphism-card" style="font-size: 20px" data-aos="zoom-in-right">
              {{event.subtitle}}
              {% if event.tags %}
                <div class="tag-wrapper">
                  {% for tag in event.tags %}
                    <span class="tag neumorphism-card">{{tag.tag}}</span>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          </div>
        </li>
      {% endif %}
      {% if event.timeline-side == 'right' %}
        <li>
          <div class="direction-r">
            <div class="flag-wrapper">
              <span class="hexagon"></span>
              <span class="flag neumorphism-button" data-aos="zoom-in-left">
                <a href="{{event.title-url}}">
                  <span>{{event.title}}</span>
                </a>
              </span>
            </div>
            <div class="desc neumorphism-card" style="font-size: 20px" data-aos="zoom-in-left">
              {{event.subtitle}}
              {% if event.tags %}
                <div class="tag-wrapper">
                  {% for tag in event.tags %}
                    <span class="tag neumorphism-card">{{tag.tag}}</span>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          </div>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
<h3 class = "blue" id = "discover">Discover</h3>
<p> &nbsp &nbsp &nbsp &nbsp At Entropy, we believe in connecting our clients with our network of top students, carefully curated from a diverse range of world-class universities. Through exploration in the form of face to face meetings with students in our network, you will discover possibilities and obtain a great deal of information.<br> 
&nbsp &nbsp &nbsp &nbsp Alongside these personal, one to one communications with students, our counseling team will provide you with access to our organization’s meticulously managed database of resources, guides, tips, and tricks, as well as local and international connections and opportunities for rich and specific extracurricular involvement.</p>
<h3 class = "blue" id = "design">Design</h3>
<p> &nbsp &nbsp &nbsp &nbsp With this framework of information, our clients are prepared to tackle the task of designing their approach to college admissions. Oftentimes, we find that students have a “dream school” or “dream program” in mind, and they model their college lists, extracurriculars, and essays for that school. However, at ENTROPY, we believe that every great plan starts with a clear goal, and so it is imperative that we develop that goal.</p>
<h3 class = "blue" id = "dream">Dream</h3>
<p> &nbsp &nbsp &nbsp &nbsp Through guided inquiry, our team and client work together to deconstruct that dream and find the core idea that captivates our client about a certain career path, university, or discipline. We believe a “dream university” without a dream is just a university, and neither us nor our clients are willing to settle for “just a university”.  When our students have the opportunity to explore diverse possibilities and design their dream for themselves, the path ahead becomes straightforward to <em>determine.</em></p>

<h3 class = "blue" id = "determine">Determine</h3>

<p> &nbsp &nbsp &nbsp &nbsp In the final stage of our service, we pride ourselves on ensuring our clients are certain about what they have to do and when they have to do it by utilizing our understanding of mechanisms that operate behind the scenes of the college admission process.
<br> &nbsp &nbsp &nbsp &nbsp For instance, admission officers seek to build the future student body of their university through searching for specific student profiles, which has birthed a stigma in university counseling circles that misleads many students into building an artificial application to get into a top university.  At ENTROPY,  we believe in leading our clients to grow to their utmost potential and finding universities that are looking for those qualities; we start by investigating the best universities for our clients, therefore naturally mirroring our student’s overarching narrative with various forms of these archetypes, greatly increasing the likelihood of successful admissions and scholarships. 
<br> &nbsp &nbsp &nbsp &nbsp With a constructive process inspired by Agile project development methodology, we continously develop and iterate on our client's application packages -- through critical feedback, drafting, and brainstorming, we work overtime to ensure that when our client is looked at holistically, they understand their DREAM.</p></div>
